:root{
  --tigerLily:#F49586;
}



.not-done{
  text-decoration: none;
}
.done{
  text-decoration:line-through;
}
form{
  border-radius: var(--borderradius);
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
form>input{
  width: 350px;
  padding:var(--padding);
  padding-left:15px;
  border:none;
  margin-right:10px;
}
form>input:focus{
  outline: none;
}
form>button{
  background-color:transparent;
  border:none;
}
form>button>svg:hover{
  height: 30px;
  width: 30px;
  cursor: pointer;
}
.filter{
  border:1px solid var(--darkpurple);
  height:11.111vh;
  background-color: var(--lightpurple);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.filter>button{
  font-size: 1em;
  cursor: pointer;
  background-color: transparent;
  padding:5px;
  border-radius: var(--borderradius);
  border: none;
}
.filter>button:hover{
  font-size: 1.2rem;
}
main>span{
  margin:15px;
  padding: var(--padding);
  font-size: 2em;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.card{
  margin:10px;
  padding:10px 15px;
  background-color: var(--lightpurple);
  border:1px solid var(--darkpurple);
  border-radius: 25px;
  display: flex;
  align-items: center;
}
.card>.tick{
  cursor:pointer;
  background-color: transparent;
  border:none;
  margin-right:5px;
}
.card>.delete{
  cursor: pointer;
  margin-left: auto;
  background-color: transparent;
  border: none;
  display: none;
}
.card:hover .delete{
  display: inline-block;
}
